@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #c8d5f8;
    font-family: poppins;
}

h2 {
    font-family: poppins;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}


.main-container {
    background-color: #fff;
    width: 30vw;
    margin: auto auto;
    height: 98vh;
    padding: .1%;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    overflow: scroll;
}

.heading {
    background-color: #5581f4;
    margin: 5px;
    border-radius: 5px;
}

form {
    background-color: #fff;
    margin: 5px;
    display: flex;
    border-radius: 20px 20px 0 0;
    justify-content: space-between;
}

li {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    border: 1px solid #5581f4;
    margin: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    overflow: hidden;
    transition: 3s ease-out;

}

li button {
    background-color: transparent;
}

form button {
    border: 2px solid #fff;
    background-color: #5581f4;
    color: #fff;
    /* border-radius: 50%; */
    width: 50p;

    

}

button {
    color: #0f6164;
    border: none; 
    cursor: pointer;    
}

button i {
    width: 30px;
    font-weight: bolder;
}

.fa-trash {
    color: #5581f4;

    height: auto;
}

.fa-check {
    color: #5581f4;
    
}


input {
    margin: 5px;
    width: 80vw;
    height: 30px;
    border: none;
    padding: 3px;
    background-color: transparent;
    outline: none;
}

.filter {
    float: right;
    position: relative;
    margin: 0 5px 5px;
}

select {
    outline: none;
    border: none;
    color: #364977;

}

@media screen and (max-width:770px) {
    .main-container {
        width: 97vw;
        height: 100vh;
    }
}
